Report Contents
===============

[3 Pages + 1 Full Page Image]

1. Tools/technologies used (brief).
2. Preprocessing steps (brief).
3. Dataset.
# General description.
# More detailed analysis of 
	* dataset/data types
	* attribute types
	* derived attributes
	* why does complexity necessitate visualization.
4. Tasks.
5. Encoding channels and idioms including interactive operations with justification.
6. Novelty with justification.
7. Critical analysis of the strengths and weaknesses of the visualization.