* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#container {
    border: 3px solid mediumslateblue;
    display: grid;
    min-width: 1280px;
    min-height: 780px;
    max-width: 1280px;
    max-height: 780px;
    grid-template-columns: 200px 200px 295px 285px 300px;
    grid-template-rows: 30px 240px 20px 235px 20px 235px; /* repeat(3, 30px 260px); */
}

h5 {
    display: flex;
    background-color: rgb(255, 247, 104);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1px 2px;
}

div {
    text-align: center;
    /* border: 1px solid red; */
}

#button_clear {
    position: absolute;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px;
    align-self: end;
    justify-self: center;
    border-radius: 15px;
    border: 2px solid #333;
    color: #333;
    font-weight: 600;
    background-color: #d0e3d0;
}

#button_clear:hover {
    filter: brightness(90%);
}

#heading_physical_traits {
    display: flex;
    grid-column: 1/3;
}

#heading_physical_traits > button {
    float: left;
}

#heading_rank > button {
    position: absolute;
    left: 860px;
    top: 1px;
}

#heading_rank {
    grid-column: 3/5;
    text-align: left;
}

#heading_image {
    color: blue;
}

#plot_physical_traits {
    grid-column: 1/3;
    grid-row: 2/7;
}

#plot_rank {
    grid-column: 3/4;
}

#plot_rank_bar {
    display: flex;
}

#plot_rank_line {
    grid-column: 4/5;
}

#plot_image {
    padding: 20px;
    display: grid;
    color: blue;
    align-items: end;
    justify-content: center;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#heading_train {
    grid-column: 3/5;
}

#plot_train {
    grid-row: 4/5;
    grid-column: 3/5;
}

#plot_care_home {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 4/7;
}

#heading_protect {
    grid-column: 3/5;
}

#plot_protect {
    grid-column: 3/5;
}